html {
    overflow-x: hidden;
}

body {
    background-image: url("../img/water-background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

button {
    background-color: #ff990068;
    padding: 10px 50px;
    border: #ff5e00 3px dashed;
    border-radius: 5px;
    font-size: 20px;
}

button:hover {
    background-color: rgba(0, 149, 255, 0.433);
    border: rgba(0, 62, 197, 0.433) 3px dashed;
    cursor: pointer;
}

header {
    position: relative;
    text-decoration: none;
    margin: 0;
    padding: 15px;
    width: 100%;
    background-color: white;
}

header ul {
    list-style-type: none;
}

header a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 2px 13px;
    font-size: 20px;
    letter-spacing: 1.3px;
}

header a:hover {
    color: rgb(175, 28, 58);
}

.active_link {
    text-decoration: underline;
}

.profile {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.profile img {
    border-radius: 100%;
}

.links {
    margin-right: 25px;
}

main {
    align-items: center;
    /* min-height: 100%; */
    /* padding: 0; */
    padding-top: 25px;
    margin: 20px;
    /* margin: 0; */
    overflow-x: hidden;
    /* width: 100%; */
}

.advertizing {
    position: fixed;
    /* background-color: white; */
    margin: 0;
    padding: 0 0 0 0;
    border-radius: 0 10px 10px 0;
    top: 150px;
    left: 0;
}

.advertizing .icon {
    padding: 5px;
}

.advertizing .icon:hover {
    /* padding: 5px; */
    background-color: rgb(240, 200, 154);
    border-radius: 0 10px 10px 0;
}

h1,
pre h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin: 0; */
}

@media (max-width: 690px) {
    .card {
        width: 310px;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 60px;
    }
    p {
        font-size: 15px;
    }
}

@media (max-width: 350px) {
    h1 {
        font-size: 40px;
    }
}

@media (max-width: 250px) {
    h1 {
        font-size: 30px;
    }
}

.card {
    border: 0px black solid;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
    background-color: rgb(220, 220, 220);
    /* rgb(224 198 175) */
    padding: 5px;
    margin: 5px;
    /* width: 250px;
    height: 250px; */
}

.card-content {
    overflow-y: auto;
    width: 350px;
    height: 300px;
}

.card * {
    margin: 2px;
}

.card h2 {
    color: rgb(33, 33, 33);
}

.no-style {
    text-decoration: none;
}

.card h2 {
    text-align: center;
    background-color: #FF9800;
    border-radius: 10px;
}

.label-title {
    font-weight: bold;
    text-decoration: underline;
}

.badge {
    border-radius: 3px;
    display: block;
    background-color: rgb(147, 147, 147);
    width: max-content;
    padding: 2px 5px;
    color: white;
}


/* footer {
    position: fixed;
    display: block;
    width: 100%;
    height: 20px;
    background-color: rgb(89, 89, 89);
    bottom: 0;
} */


/* #test_ancre {
    width: 100px;
    height: 100px;
    background-color: red;
} */


/* .active {
    background-color: green !important;
} */

#langButton {
    background-color: #ffffff87;
}

.dropbtn {
    border: black 1px solid;
    border-radius: 4px;
    cursor: pointer;
    /* background-image: url("https://st4.depositphotos.com/12883492/28907/v/450/depositphotos_289075276-stock-illustration-france-flag-brush-painted-france.jpg"); */
    /* background-position: center; */
    /* background-color: rgb(195, 195, 195); */
}

.dropdown {
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f9f9f9; */
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(192, 192, 192);
}