@import "../../_globalColor";

.dev-skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  padding-left: 0;
  font-size: 3rem;
  text-align: center;
}

@media (max-width: 440px) {
  .dev-skills-list {
    grid-template-columns: 1fr;
  }
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.software-skill-inline > i {
  color: $subTitle;
}

.software-skill-inline > i:hover {
  color: $skillsColor;
}
.software-skill-inline > p {
  color: $subTitle;
  font-size: 10px;
}
.software-skill-inline > i:hover ~ p {
  color: $skillsColor;
}

.software-skill-inline > img {
  width: 50px;
  height: 50px;
}

.skills-text-subtitle {
  font-size: 16px;
  text-align: center;
}

.skill-section {
  max-width: 270px;
}